.page {
    display: flex;
    height: 100%;
}

.half {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.blue {
    background-color: #2a89f6;
    color: white;
}
